.Icon{
	height: 45px;
}

button.setingButt{
	margin-left: 20px;
	text-align: center;
	border-radius: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
} 
button.setingButt:hover{
 -webkit-transform:scale(1.1);
  transform:scale(1.1);
  background:#4c5256;
  color: #fff;
}
.menu{
	width: 140px;
	height: 140px;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
